<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="static/style.css" />
    <title>Jonnys SimpleSmarthome</title>
  </head>
  <body>
  <h1>Smarthome</h1>
  
<div id="sockets" v-cloak>
	<h2>Steckdosen</h2>
	<div v-for="socket in sockets" class="socket" >
	<div class="socketWrapper">
	    <h1 class="statusLabel" v-bind:class="socket.state ? 'socketOn' : 'socketOff' "></h1>
	    <h3>[[ socket.name ]]</h3>
	    <div class='socketControls'>
			<input v-for="func in stateChanges" v-on:click = 'set(socket, func)'  type='button' :value="func"/>
		</div>
	</div>
	</div>
	<p>Statusinfos:</p>
	<ol>
		<li v-for="stats in loadingStat">[[stats]]</li>
	</ol>
</div>


<script src="static/axios.js"></script>
<script src="static/vue.js"></script>
<script src="static/app.js"></script>
</body>
</html>