<!doctype html>
<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
    <title>Jonnys SmartHome </title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script src="/static/script.js"></script>

    <script>
        getstates();
        getinfo();
    </script>

<meta charset="utf-8" />

</head>
<body>

  <h2>SmartHome</h2>
    <table>
      <tr>
          <td><p id="name_socket0"></p></td>
          <td><input type="button" id="togglebutton_socket0" value="toggle" onClick="toggle('socket0')"></td>
          <td><input type="button" value="on" onClick="on('socket0')"></td>
          <td><input type="button" value="off" onClick="off('socket0')"></td>
          <td><div id="statustext_socket0"></div></td>
      </tr>
      <tr>
          <td><p id="name_socket1"></p></td>
          <td><input type="button" id="togglebutton_socket1" value="toggle" onClick="toggle('socket1')"></td>
          <td><input type="button" value="on" onClick="on('socket1')"></td>
          <td><input type="button" value="off" onClick="off('socket1')"></td>
          <td><div id="statustext_socket1"></div></td>

          <!-- <td><div id="socket1"></div></td> -->
      </tr>
      <tr>
          <td><p id="name_socket2"></p></td>
          <td><input type="button" id="togglebutton_socket2" value="toggle" onClick="toggle('socket2')"></td>
          <td><input type="button" value="on" onClick="on('socket2')"></td>
          <td><input type="button" value="off" onClick="off('socket2')"></td>
          <td><div id="statustext_socket2"></div></td>

          <!-- <td><div id="socket2"></div></td> -->
      </tr>
      <tr>
          <td><p id="name_socket3"></p></td>
          <td><input type="button" id="togglebutton_socket3" value="toggle" onClick="toggle('socket3')"></td>
          <td><input type="button" value="on" onClick="on('socket3')"></td>
          <td><input type="button" value="off" onClick="off('socket3')"></td>
          <td><div id="statustext_socket3"></div></td>

          <!-- <td><div id="socket3"></div></td> -->
      </tr>
  </table>


</body>
