<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
    <title>Jonnys SmartHome</title>
</head>
</head>
<body>
	<h2>Jonnys SmartHome</h2>

	<table>
	    <tr>
	        <td>Steckdose 1</td>
	        <td><b>{{ s0 }}</b></td>
	        <td><a href="/on/0">    einschalten</a> <a href="/off/0">  ausschalten</a></td>
	    </tr>
	    <tr>
	    	<td>Steckdose 2</td>
	        <td><b>{{ s1 }}</b></td>
	        <td><a href="/on/1">    einschalten</a> <a href="/off/1">  ausschalten</a></td>
	    </tr>
	    <tr>
	    	<td>Steckdose 3</td>
	        <td><b>{{ s2 }}</b></td>
	        <td><a href="/on/2">    einschalten</a> <a href="/off/2">  ausschalten</a></td>
	    </tr>
	    <tr>
	    	<td>Steckdose 4</td>
	        <td><b>{{ s3 }}</b></td>
	        <td><a href="/on/3">    einschalten</a> <a href="/off/3">  ausschalten</a></td>
	    </tr>
	</table>
	<p>
		Steckdose 1 ist <b>{{ s0 }}</b> <a href="/on/0">    AN</a> <a href="/off/0">  AUS</a>
	</p><p>
		Steckdose 2 ist <b>{{ s1 }}</b>  <a href="/on/1">    AN</a> <a href="/off/1">  AUS</a>
	</p><p>
		Steckdose 3 ist <b>{{ s2 }}</b>  <a href="/on/2">    AN</a> <a href="/off/2">  AUS</a>
	</p><p>
		Steckdose 4 ist <b>{{ s3 }}</b> <a href="/on/3">    AN</a> <a href="/off/3">  AUS</a>
	<p>
		<input type="checkbox" checked> 
		<input type="radio">
		<input type="submit" value="Ooo. Look. Text on a button. Wow">.
</body>
</html>